body {
    font-family: "Hanken Grotesk", sans-serif;
    background-color: hsl(221, 100%, 96%);
    font-size: 18px;
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.page {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    display: flex;
    max-width: 600px;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.result,
.summary {
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
}


.result {
    color: white;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
    border-radius: 20px;
    width: 280px;
    padding: 20px;
}

.text-result{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.data-result {
    border-radius: calc(infinity * 1px);
    aspect-ratio: 1/1;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0.00));
    margin: 30px 45px 0px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first {
    font-weight: 500;
    font-size: 20px;
    color: hsl(241, 100%, 89%);
}

.great {
    font-weight: 800;
    font-size: 25px;
    margin: 15px;
}

.littel-text {
    font-weight: 500;
    font-size: 15px;
    color: hsl(241, 100%, 89%);
}

.data-big {
    font-size: 55px;
    font-weight: 800;
    margin: 0px;
}

.summary {
    padding: 20px;
    width: 280px;
}

.summary-text {
    font-weight: 800;
    font-size: 25px;
    color: hsl(224, 30%, 27%);
    margin: 0 10px 10px 0px;
}

.data {
    color: hsl(224, 30%, 27%);
    font-weight: 700;
}

.data-second {
    color: hsl(224, 7%, 71%);
}

.text {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

img {
    margin: 0px 10px;
}

#reaction {
    color: hsl(0, 100%, 67%);
    background-color: hsl(0, 100%, 67%, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 0px;
    margin: 10px 0px 10px 0px;
    border-radius: 15px;
}

#memory {
    color: hsl(39, 100%, 56%);
    background-color: hsl(39, 100%, 56%, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 0px;
    margin: 10px 0px 10px 0px;
    border-radius: 15px;
}

#verbal {
    color: hsl(166, 100%, 37%);
    background-color: hsl(166, 100%, 37%, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 0px;
    margin: 10px 0px 10px 0px;
    border-radius: 15px;
}

#visual {
    color: hsl(234, 85%, 45%);
    background-color: hsl(234, 85%, 45%, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 0px;
    margin: 10px 0px 10px 0px;
    border-radius: 15px;
}

.button {
    background-color: hsl(224, 30%, 27%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 15px;
    margin-top: 30px;
}

@media (max-width: 600px) {

    .page {
        flex-direction: column;
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .result {
        width: 100%;
        height: auto;
        border-radius: 0 0 20px 20px;
        padding: 30px 20px;
    }

    .data-result {
        margin: 20px auto;
        width: 140px;
    }

    .summary {
        width: 100%;
        padding: 20px;
    }

    .button {
        width: 100%;
        box-sizing: border-box;
    }
}